h5 {
    margin-top: 20px;
}

img {
    margin-bottom: 5px;
    border: black solid 1px;
}

.imglink {
    transition: .3s;
    transform: scale(0.5);
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.imglink:hover {
    box-shadow: 5px 5px 10px black;
    letter-spacing: 2px;
}